table#checklist tbody tr:nth-child(odd) {
    background: #ece;
}

table#checklist tbody tr:nth-child(even) {
    background: #cee;
}

table#checklist td {
    padding: 5px;
}

table#checklist td.description {
    vertical-align: middle;
}

table#checklist button.remove-item,button.check {
    font-size: 30px;
}

table#checklist td#remove-item-placeholder {
    width: 30px;
}

table#checklist button#new-item {
    font-size: 30px;
}
