div#header {
  padding: 10px 0px;
  margin-bottom: 10px;
  background: #988;
  font-size: 20px;
}

table#checklist tbody tr:nth-child(odd) {
  background: #ece;
}

table#checklist tbody tr:nth-child(even) {
  background: #cee;
}

table#checklist td {
  padding: 5px;
}
