{% extends "base.html" %}


{% block scripts %}
<script src="/static/checklist.js"></script>
{% endblock %}


{% block stylesheets %}
  {{ super() }}
  <link href="/static/checklist.css" rel="stylesheet" type="text/css">
{% endblock %}


{% block body %}
  <div id="header">
    <h1>Checklist</h1>
  </div>
  <div id="content">
    <table id="checklist">
      <tbody id="checklist-item-container">
        {% for id, done, description in rows %}
          {% include "parts/checklist_item.html" %}
        {% endfor %}
        <tr id="new-item-container">
          <td />
          <td>
            <button id="new-item" class="css-flat-button">+</button>
          </td>
          <td class="description">
            <input type="text" name="description"
                   placeholder="Description" autocomplete="off"></input>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
{% endblock %}
